

.appBar {
  background-color: white;
}

.title {
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: center;
}

.menuItem {
  color: #fff;
  margin-right: 10px;
}

.menuItem:last-child {
  margin-right: 0;
}